<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="front-common :: commonCss(~{::title},~{},~{},~{::style})">
    <title>Personal information</title>
    <style type="text/css">
        .container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            border: #f8f8f8 30px solid;
            padding: 0;
        }
        .content{
            background-color: #ffffff;
            float: right;
            min-height: 75vh;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div th:replace="front-common::header('information')"></div>

    <div class="layui-layout-body" style="margin-top: 50px;background-color: #f8f8f8;">
        <div class="layui-container container">
            <div th:replace="front-common::infoSide('password')"></div>
            <div class="content">
                <div class="layui-fluid">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                        <legend>Change Password</legend>
                    </fieldset>
                    <form class="layui-form layui-form-pane"  style="padding-left: 60px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label"style="width: 150px;">New Password</label>
                            <div class="layui-input-inline" style="width: 50%;">
                                <input type="password" name="password" id="pass" lay-verify="pass" autocomplete="off" placeholder="Please enter a new password" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">Please enter a new password</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"style="width: 150px;">Confirm Password</label>
                            <div class="layui-input-inline" style="width: 50%;">
                                <input type="password" id="confPass" autocomplete="off" placeholder="Please enter your new password again" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">The two passwords must be the same</div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" lay-submit lay-filter="submit" class="layui-btn">Submit Now</button>
                                <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="front-common::footer"></div>
    </div>

</div>
<script th:inline="javascript">
    layui.use(['form'],function (){
        var form = layui.form;
        var $ = layui.jquery;

        form.verify({
            pass: [
                /^[\S]{6,12}$/
                ,'The password must be 6 to 12 characters long and cannot contain spaces.'
            ]
        });

        form.on('submit(submit)', function (data) {
            if($("#pass").val()!==$("#confPass").val()){
                layer.msg("The two passwords do not match, please re-enter", {icon: 5});
                return false;
            }

            $.ajax({
                url: '/user/updatePassword/'+$("#pass").val(),
                type: 'put',
                dataType: 'json',
                success: function (data){
                    if(data.success){
                        layer.msg("Modification successful");
                    }else {
                        layer.msg("Modification failed, please try again later("+data.msg+")");
                    }
                },
                error: function (data){
                    layer.msg("Modification failed,"+data.responseJSON.msg);
                }
            });
            return false;
        });
    })

</script>
</body>

</html>